@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../img/background.webp);
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 60px;
  position: absolute;
  top: 50px;
  left: 30px;
}

#score__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subtitle {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.refreshBtn {
  font-size: 20px;
  margin: 0 0 0 20px;
  padding: 5px 10px;
  background-color: black;
  border-radius: 5px;
  border: 1px solid;
  transition: 0.3s;
  box-shadow:
    #ffd4a36c 0 13px 27px -5px,
    #f6a54872 0 8px 16px -8px;
}

.refreshBtn:hover {
  box-shadow: #000000a4 4px 4px;
  background-color: #826240;
}

.refreshBtn::after {
  content: "";
  display: block;
  position: relative;
  z-index: -210;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 30px white;
}

.refreshBtn:active::after {
  box-shadow: 0 0 0 0 #ffd4a36c;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.refreshBtn:active {
  background-color: #28221b6c;
}

#score__table {
  padding: 10px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: #ffd4a36c 0 13px 27px -5px, rgba(246, 165, 72, 0.446) 0 8px 16px -8px;
  background: #f0a2101a;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid #ffffff2e;
}

#score__table li {
  line-height: 30px;
  font-size: 15px;
}

#score__table li:nth-child(even) {
  background-color: #ffebcd60;
}

#score__table li:nth-child(odd) {
  background-color: #00000054;
}

#add__score {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

#add__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#name,
#score {
  line-height: 30px;
  padding: 10px;
  font-size: 15px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  background-color: #170b007b;
  backdrop-filter: blur(7px);
  border: 1px solid #ffffff2e;
  box-shadow:
    #ffd4a36c 0 13px 27px -5px,
    #f6a54872 0 8px 16px -8px;
}

.addBtn {
  width: 100px;
  font-size: 20px;
  padding: 5px 10px;
  background-color: #170b00;
  border-radius: 5px;
  border: 1px solid;
  align-self: flex-end;
  transition: 0.3s;
  box-shadow:
    #ffd4a36c 0 13px 27px -5px,
    #f6a54872 0 8px 16px -8px;
}

.addBtn:hover {
  box-shadow: #000000a4 4px 4px;
  background-color: #826240;
}

.addBtn::after {
  content: "";
  display: block;
  position: relative;
  z-index: -210;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 30px white;
}

.addBtn:active::after {
  box-shadow: 0 0 0 0 #ffd4a36c;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.addBtn:active {
  background-color: #28221b6c;
}
